*{
  font-family: "Lora", serif;
  box-sizing: border-box;
}

.container{
  background-color: rgb(255,255,241);
  max-width: 1440px;
  min-height: 100vh;
  margin: 30px auto;
  border-radius: 20px;
  padding: 20px;
}

h2{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: brown;
}

h3{
  color: brown;
  font-size: 28px;
  font-weight: 500;
}

form{
  display: flex;
  width: 100%;
  justify-content: center;
}

input{
  border: 3px solid brown;
  padding: 10px;
  font-size: 18px;
  /* border-radius: 20px; */
}

input:focus{
  border: 0.5px solid brown;
  outline: none;
}

.form-input{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 500px;
}

.recipes{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  color: brown;
}

.card{
  width: 320px;
  background-color: white;
  margin: 15px;
  border-radius: 6px;
  padding-bottom: 10px;
  
}

.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Box shadow properties */
  transition: 0.3s;
}

.card-image{
  width: 100%;
}

.card-body{
  padding: 10px;
  text-align: center;
}

.category{
  color: rgb(169,107,30);
  font-size: 18px;
}

a{
  background-color: rgb(169,107,30);
  color: blanchedalmond;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
}

@media only screen and (max-width:768px) {
  h2{
    font-size: 30px;
    font-weight: 700;
  }

  h3{
    font-size: 20px;
  }
  
  .form-input{
    width: 200px;
  }
}